:root {
    --primary: #191726;
    --accent: #027368;
    --gray: #5D7173;
    --light-gray: #B4BEBF;
    --white: #F2F2F2; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    color: var(--white);
    font-family: sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    padding: 1.5rem 10%;
    background: rgba(25, 23, 38, 0.8);
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: -1px;
    text-decoration: none;
    color: var(--white);
}

nav .logo span {
    color: var(--accent);
}

nav .navLinks {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    align-items: center;
}

nav .navLinks a{
    text-decoration: none;
    color: var(--light-gray);
    font-weight: 500;
    transition: 0.3s;
}

nav .navLinks a:hover{
    color: var(--accent);
}

nav a.btnDocument {
    background: var(--accent);
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(2, 115, 104, 0.3);
    cursor: pointer;
}

nav a.btnDocument:hover {
    background: #02534b;
    color: var(--light-gray);
    transition: all 0.3s; 
}

